<div>
  <nav class="header">
    <div class="header__title">
      <a href="#">Ilka Group Hotel</a>
    </div>
    <div class="header__links">
      <a *ngIf="authorized === true" (click)="logOut()">Log out</a>
      <a *ngIf="authorized === false" (click)="updateIsAuthorizedStatus()" routerLink="login" routerLinkActive="active">Log In</a>
      <a *ngIf="authorized === false" (click)="updateIsAuthorizedStatus()" routerLink="register" routerLinkActive="active">Register</a>
      <a routerLink="user" routerLinkActive="active" (click)="updateIsAuthorizedStatus()">Users</a>
      <a routerLink="apartment" routerLinkActive="active" (click)="updateIsAuthorizedStatus()">Apartments</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
