<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="description">
      <div class="nav-buttons">
        <div class="nav-buttons__button">
          <app-slider [type]="0" [minValue]="5" [maxValue]="150" [title]="'cost more than'"></app-slider>
        </div>
        <div class="nav-buttons__button">
          <app-slider [type]="1" [minValue]="5" [maxValue]="150" [title]="'cost less than'"></app-slider>
        </div>
        <div class="button nav-buttons__button" (click)="find()">find appropriate</div>
      </div>
      <div class="title">{{title}}</div>
      <app-apartments-list [apartmentsList]="allApartments"></app-apartments-list>
    </div>
  </div>
  <div class="col-1"></div>
</div>
