<ul class="apartments">
  <div class="apartment">
    <div class="apartment__info apartment__info_size_m">booked From</div>
    <div class="apartment__info apartment__info_size_m">booked To</div>
    <div class="apartment__info apartment__info_size_s">cost $</div>
  </div>
  <li *ngFor="let apartment of apartments">
    <div class="apartment">
      <div class="apartment__info apartment__info_size_m">{{timestampToDate(apartment.bookedFrom)}}</div>
      <div class="apartment__info apartment__info_size_m">{{timestampToDate(apartment.bookedTo)}}</div>
      <div class="apartment__info apartment__info_size_s">{{apartment.cost}}</div>
    </div>
  </li>
</ul>
